

html{
  scroll-snap-type: y mandatory;
}

.app{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgb(44, 27, 27);
  display: grid;
  place-items: center;
}

.app__videos{
  /* background-color: aquamarine; */
  position: relative;
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50%;
  border-radius: 30px;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

.video__player{
   height: 100%;
   width: 100%;
   object-fit: fill;
}

.app__videos::-webkit-scrollbar{
  display: none;
  }
