

.video{
    position: relative;
    height: 550px;
    scroll-snap-align: start;
    background-color: white;
    color: white;
}

    


::-webkit-scrollbar {
    width: 10px;
    
    background-color: rgb(190, 226, 226);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(194, 66, 166, 0.541); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(61, 61, 68); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #78a57e; 
  }

